/*
@font-face {
    font-family:"Teko";
    src: url("Teko/Teko-Light.ttf") format("truetype");
}
@font-face {
    font-family:"Bebas Neue";
    src: url("Bebas_Neue/BebasNeue-Regular.ttf") format("truetype");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Teko";
 }
*/

 .club{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #5D1924;
    font-family: "Teko";
 }

.content-sh {
    bottom: 0;
    width: 250px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.644);
    color:floralwhite;
 }


 .container-sh{
    position:relative;
    display: grid;
    width: 1200px;
    grid-template-columns: repeat(auto-fit, minmax(20px,1fr));
    

 }
 
 .container-sh .card{
    position: relative;
    display: flex;
    flex-direction: column;
    background: #5D1924;
    
 }
 .container-sh .card:nth-child(even){
    flex-direction: column-reverse;
    
 }
  
 .container-sh .card .imgBx{
    position: relative;
    width: 250px;
    height: 300px;
    background: #000;
    top :0px;
    
 }
 .container-sh .card .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    object-fit: cover;
 }
 
.container-sh .card .content-sh div{
    padding: 20px;
    text-align: center;
}


.card::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background: white ;
    transition: 0.9s;
    transform: translate(-50%, -50%);
 }

 .card:hover::before{
    width: 200px;
    height: 510px;
    opacity: 0.5;
 }
